<div>
  <h1>This is my apple page</h1>
  <%= link_to 'go back to the home page', '/'%>
  <%= link_to 'go to the red apple page', 'apple/red' %>
  <%= link_to 'go to the green apple page', 'apple/green' %>

</div>
