<div>
  <h1>This is my green apple page</h1>
  <img src="http://photo.elsoar.com/wp-content/images/Fresh-Green-Apple-Pic.jpg">
  <%= link_to 'look at the small green apple page,', '/apple/green/small' %>
  <%= link_to 'look at the big green apple page,', '/apple/green/big' %>
</div>
