<div>
  <h1>This is my red apple page</h1>
  <%= link_to 'go back to the home page', '/' %>

  <img src="http://media.istockphoto.com/photos/fresh-red-apples-on-white-background-picture-id183422512?k=6&m=183422512&s=612x612&w=0&h=BSvOL3aFruJVgjJ2pp_bfGFwUXFEm0KEkpeL4hBqZeE=">
</div>
